body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

header,
footer {
  background-color: #1f2937;
  color: #e5e7eb;
  display: flex;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

a {
  text-decoration: none;
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-img {
  height: 60px;
  width: auto;
}

.logo-text > a {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
  display: flex;
}

nav a {
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e7eb;
  padding: 16px 50px;
}

.about-left h1,
.about-left p {
  color: #1f2937;
}

.about-left h1 {
  font-size: 40px;
  font-weight: 900;
}

.about-left p {
  font-size: 20px;
  font-weight: 700;
}

.about-left button {
  background-color: #3882f6;
  color: white;
  border: none;
  font-size: 20px;
  padding: 15px 32px;
  border-radius: 10px;
}

.about-img {
  height: 300px;
  width: auto;
  border-radius: 10px;
}

.courses {
  background-color: white;
  color: #1f2937;
  text-align: center;
  padding: 20px;
}

.courses h1 {
  font-size: 36px;
}

.courses-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.course img {
  width: 200px;
  height: 200px;
  border: 2px #e5e7eb solid;
  border-radius: 10px;
}

.course p {
  font-size: 18px;
  font-weight: 700;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 40px 100px;
}

.quote-content {
  font-style: italic;
  text-align: center;
  font-size: 36px;
  font-weight: 100px;
  margin-bottom: 20px;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 900;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.call-to-action-container {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.call-to-action-right button {
  background-color: #3882f6;
  color: white;
  border: 2px white solid;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 10px;
}

footer {
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
